@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        height: 70px;
        line-height: 19px;
        font-size: 12px;
    }

    &__menu-list,
    &__inner,
    &__main-link,
    .languages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;
    }


}

.languages img {
    width: 30px;
    height: 30px;
}

.main-banner {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle,
    &__title {
        text-transform: uppercase;
    }

    &__subtitle {
        padding-top: 90px;
    }

    &__title {
        padding-top: 10px;
        padding-bottom: 25px;
        font-size: 32px;
    }

    &__info {
        display: block;
        width: 290px;
    }

    &__images,
    .star__row {
        display: flex;
        gap: 5px;
        justify-content: space-around;
    }

    &__images {
        flex-direction: column;
        margin-bottom: 35px;
    }

    &__btn {
        padding: 8px 45px;
        border-radius: 15px;
        background-color: white;
        color: black;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__text {
        margin-top: 70px;
    }
}

.line {
    display: flex;
    align-items: center;
}

.line p {
    display: block;
}

.star {
    &__row-second {
        align-items: start;
    }

    &__row-first {
        width: 50%;
        margin: 0 auto;
        align-items: end;
    }

    &__row img {
        width: 120px;
        height: 120px;
        border-radius: 8px;
        display: block;
        object-fit: cover;
    }

    &__row-second img:nth-child(2),
    &__row-first img {
        width: 80px;
    }


    &__row-first img:nth-child(1),
    &__row-second img:last-child,
    &__row-second img:first-child {
        height: 80px;
    }

}

.questions {
    &__inner {
        padding: 65px 0;
    }
}

.footer {
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 35px;
        gap: 35px;
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding-bottom: 10px;
    }

    &__link img {
        width: 20px;
        height: 25px;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__social-item img {
        width: 20px;
        height: 20px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-top: 15px;
    }

    &__copywrite {
        padding: 35px 0;
    }
}